<ion-content class="color-fondo">
  <ion-toolbar color=".">
    <br>
    <ion-title #titulo size="small">
      Sistema de Asistencia DUOC
    </ion-title>    
  </ion-toolbar>

  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png" alt="">
  </div>

  <ion-card class="card-color" style="margin-top: 20px;">
    <br>
    <div class="logo-inicio-duoc">
      <h2 style="color: white; text-align: center; font-weight: bold;">¡Bienvenido(a)!</h2>
      <h3 style="color: white; text-align: center;">{{ user.firstName}} {{ user.lastName }}</h3>
    </div>
    <br>
    <div class="img-saludo">
      <img src="../../../assets/img/Saludo.png" alt="">
    </div>
  </ion-card>

</ion-content>