.color-fondo {
  // --background:  #04142b;
  --background: url('../../../assets/img/FondoAB-SinEstudiantes.jpg') 0 0/100% 100% no-repeat;
}

.logo-login-duoc {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.caja-correcto {
  --background: #042648;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}

.boton-regresar {
  --background: #f6b01d;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 10rem;
}