<ion-content [fullscreen]="true" class="color-fondo">
  <br>
  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png">
  </div>
  <ion-card class="ion-padding-vertical caja-correcto">

    <ion-card-content>
      <h2 class="ion-text-center" style="color: white;">
        {{ 'RespuestaCorrecta.Titulo' | translate }}
      </h2>
      <br>
      <div>
        <img src="../../../assets/img/UniversitariosCorrecto.png">
      </div>
      <br>
      <div>
        <h2 class="ion-text-center" style="color: white;">
          {{ 'RespuestaCorrecta.Contraseña' | translate }}
          <strong style="color: #f6b01d;"> {{ clave }} </strong>
        </h2>
      </div>
      <ion-button class="boton-regresar" shape="round" size="large" (click)="navegarIngreso()">
        <ion-icon name="arrow-back"></ion-icon> 
        <span style="font-size: medium;">{{ 'RespuestaCorrecta.Regresar' | translate }}</span>
      </ion-button>
    </ion-card-content>

  </ion-card>
  <br><br><br>
</ion-content>
