<ion-content [fullscreen]="true" class="color-fondo">
  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png" alt="">
  </div>
  <br>


  <ion-card class="ion-padding-vertical caja-correcto">

    <ion-card-content>
      <h1 class="ion-text-center" style="color: white;">
        Tu Respuesta es Correcta!
      </h1>
      <br>
      <div>
        <img src="../../../assets/img/UniversitariosCorrecto.png" alt="">
      </div>
      <br>
      <div>
        <h1 class="ion-text-center" style="color: white;">
          Tu Contraseña es: <strong style="color: #f6b01d;">{{ usuario.password }}</strong>
        </h1>
      </div>

    </ion-card-content>

  </ion-card>
  <br><br><br>

  <ion-button class="boton-regresar" shape="round" size="large" (click)="navegar('/ingreso')">
    <ion-icon name="arrow-back"></ion-icon> 
    <span style="font-size: medium;">Regresar</span>

  </ion-button>


</ion-content>