<ion-footer>
  <ion-toolbar class="duoc-bg" style="padding-bottom: 4px;">
    <ion-segment 
      value="welcome" 
      (ionChange)="sendClickEvent($event)"
      [(ngModel)]="selectedButton"
    >
      <ion-segment-button value="welcome">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-icon name="person-circle-outline" color="light" size="large"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="miclase">
        <ion-icon name="book" color="light"></ion-icon>
      </ion-segment-button>
      
      <ion-segment-button value="foro">
        <ion-icon name="chatbubbles-sharp" color="light"></ion-icon>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>
</ion-footer>