.title-DUOC {
  background-color: #04142b;
  background: #04142b;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.color-fondo {
  --background:  #04142b  ;
}

.logo-inicio-duoc {
width: 70%;
margin: 0 auto;

}

.card-color {
background: #042648;  
width: 80%;
border-radius: 30px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}

.miclase-button {
height: 60px;
border-radius: 30px;
width: 90%;
--background: #04142b ;
}

ion-card {
  color: white;
  background: #042648;
}

ion-label {
  color: white;
}

ion-icon {
  color: white;
}


