
<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true" class="color-fondo">

  <app-misdatos 
    *ngIf="selectedComponent === 'misdatos'">
  </app-misdatos>

  <app-codigoqr
    *ngIf="selectedComponent === 'codigoqr'" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-codigoqr >
  
  <app-welcome 
    *ngIf="selectedComponent === 'welcome'">
  </app-welcome>

  <app-miclase 
    *ngIf="selectedComponent === 'miclase'">
  </app-miclase>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>