<ion-toolbar color=".">
  <br>
  <ion-title #titulo size="large">
    Sistema de Asistencia DUOC
  </ion-title>
  <br>
</ion-toolbar>

<ion-content [fullscreen]="true" class="color-fondo">
  <div class="logo-inicio-duoc">
    <div>
      <img src="../../../assets/img/logo-fondoazul.png">
    </div>
    <ion-card #card style="border-radius: 30px; width: 80%; margin: 0 auto;">
      <ion-card-content><h1 style="color: white; text-align: center; font-weight: bold;">¡Bienvenido(a)!</h1></ion-card-content>
      <ion-card-content><h2 #card style="color: white; text-align: center;">{{ usuario.nombre }} {{ usuario.apellido }}</h2></ion-card-content>
    </ion-card>
  </div>

  <ion-card class="card-color" style="margin-top: 20px;">
    <br>
    <ion-button class="miclase-button" shape="round" style="--background: #e3a21b;" (click)="navegarMiClase()">
      <ion-label>
        Mi Clase
      </ion-label>
      <ion-icon slot="start" name="hand-left-outline"></ion-icon>
    </ion-button>
    <ion-button class="miclase-button" shape="round" (click)="navegarMisDatos()" style="margin-top: 8px;">
      <ion-label>
        Mis Datos
      </ion-label>
      <ion-icon slot="start" name="person-outline"></ion-icon>
    </ion-button>
    <br><br><br><br><br><br><br><br><br>
    <ion-button class="miclase-button " shape="round" style="--background: #ff3838;"  (click)="logout()">
      <ion-label>
        Cerrar Sesión
      </ion-label>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
    </ion-button>
    <br>
  </ion-card>

</ion-content>