<ion-content class="color-fondo">
  <br>
  <h3 class="ion-text-center" style="color: white">Datos personales</h3>
  <ion-card class="caja-credenciales">
  
    <div class=" ion-padding-horizontal">
      <ion-item #itemCuenta class="box-color">
        <ion-input [(ngModel)]="usuario.userName"
            label="Cuenta" labelPlacement="floating"
            placeholder="Ej: atorres" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemNombre class="box-color">
        <ion-input [(ngModel)]="usuario.firstName" 
            label="Nombre" labelPlacement="floating"
            placeholder="Ej: Ana" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemApellido class="box-color" >
        <ion-input [(ngModel)]="usuario.lastName"
            label="Apellido" labelPlacement="floating"
            placeholder="Ej: Torres" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemCorreo class="box-color" >
        <ion-input [(ngModel)]="usuario.email"
            label="Correo" labelPlacement="floating"
            placeholder="Ej: atorres@duocuc.cl" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemDireccion class="box-color" >
        <ion-input [(ngModel)]="usuario.address"
            label="Direccion" labelPlacement="floating"
            placeholder="San Luis 234, La Florida" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemPregunta class="box-color" >
        <ion-input [(ngModel)]="usuario.secretQuestion"
            label="Pregunta Secreta" labelPlacement="floating"
            placeholder="Ej: ¿Cuál es tu animal favorito?" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemRespuesta class="box-color" >
        <ion-input [(ngModel)]="usuario.secretAnswer"
            label="Respuesta Secreta" labelPlacement="floating"
            placeholder="Ej: gato" style="color: white;"></ion-input>
      </ion-item>
  
      <ion-item #itemEducacion class="box-color">
        <ion-label style="color: white;">Educación</ion-label>
        <ion-select placeholder="Seleccione nivel " position="floating"
            [(ngModel)]="usuario.educationalLevel!.id" style="color: whitesmoke;">
          <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" 
            [value]="nivelEducacional.id">
              {{nivelEducacional.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="box-color">
        <ion-label style="color: white;">Fecha de Nacimiento</ion-label>
        <ion-input 
          readonly 
          [value]="usuario.dateOfBirth ? (usuario.dateOfBirth | date: 'dd/MM/yyyy') : ''" 
          (click)="toggleDatePicker()"
          style="color: whitesmoke;">
        </ion-input>
      </ion-item>
      <div *ngIf="showDatePicker" class="date-picker">
        <div >
          <ion-datetime  
            [(ngModel)]="tempDate" 
            presentation="date" 
            (ionChange)="onFechaNacimientoChange($event)" 
            (ionCancel)="onFechaNacimientoCancel()"
            style="color: whitesmoke;">
          </ion-datetime>
        </div>
        <ion-button expand="full" shape="round" (click)="onFechaNacimientoConfirm()">Aceptar</ion-button>
        <ion-button expand="full" shape="round" (click)="onFechaNacimientoCancel()">Cancelar</ion-button>
      </div>
      <ion-item #itemPassword class="box-color">
        <ion-input style="color: white;" [(ngModel)]="usuario.password" labelPlacement="floating" type="password" label="Contraseña" placeholder="Ej: 123456"></ion-input>
      </ion-item>
  
      <ion-item #itemPassword2 class="box-color">
        <ion-input style="color: white;" [(ngModel)]="usuario.password" labelPlacement="floating" type="password" label="Confirmar Contraseña" placeholder="Ej: 123456"></ion-input>
      </ion-item>
  
      <div class="div-button" style="margin-bottom: 5px;">
        <ion-button (click)="guardarUsuario()" expand="full" shape="round">
          <ion-icon slot="start" name="save"></ion-icon>
          Guardar Datos
        </ion-button>
      </div>
    </div>
  </ion-card>
  <br>
</ion-content>



  <!-- <ion-item>
    <app-date-picker 
        [(ngModel)]="usuario.dateOfBirth"
        (ionChange)="onFechaNacimientoChange($event)"
        label="Nacimiento"
        labelPlacement="floating">
    </app-date-picker>
  </ion-item> -->
