<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape">
      <h1 class="glow-text"> {{ 'AppName' | translate }} </h1>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img class="background-image" src="/assets/images/bronto-portrait-04.jpg">
  
  <h1 class="glow-text show-in-portrait margin-top-6"> {{ 'AppName' | translate }} </h1>

  <ion-card class="login-container transparent-input">

    <ion-card-header class="show-in-portrait">
      <ion-card-title color="light" class="glow-text">
        <h4>
          <b>
            {{ 'Login.Title.Login' | translate }}
          </b>
        </h4>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="transparent-input text-center">
      
      <ion-item class="margin-bottom-6 float-left-landscape">
        <ion-input 
          label="{{ 'Login.Label.Email' | translate }}" 
          labelPlacement="floating"
          [(ngModel)]="correo" 
          placeholder="{{ 'Login.Placeholder.Email' | translate }}">
        </ion-input>
      </ion-item>

      <ion-item class="margin-bottom-6 float-right-landscape">
        <ion-input 
          label="{{ 'Login.Label.Password' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="password" 
          placeholder="{{ 'Login.Placeholder.Password' | translate }}"
          type="password">
        </ion-input>
      </ion-item>

      <div class="ion-text-center margin-top-6" style="clear: both;">
        <ion-button class="enter-button normal-text" shape="round" (click)="login()">
          {{ 'Login.Button.Login' | translate }}
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-button color="primary" shape="block" (click)="registerNewUser()">
    {{ 'Login.Button.Signin' | translate }}
  </ion-button>
  <ion-button color="secondary" shape="block" (click)="passwordRecovery()">
    {{ 'Login.Button.ForgotPassword' | translate }}
  </ion-button>
</ion-footer>