<ion-content [fullscreen]="true" class="color-fondo">
  <br>
  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png">
  </div>
  <ion-card class=" caja-correcto">

    <ion-card-content>
      <h2 class="ion-text-center" style="color: white;">
        {{ 'RespuestaIncorrecta.Titulo' | translate }} <span style="color: red;">{{ 'RespuestaIncorrecta.Incorrecto' | translate }}</span>
      </h2>
      <br>
      <div>
        <img src="../../../assets/img/UniversitariosIncorrecto.png">
      </div>
      <br>
      <div>
        <h2 class="ion-text-center" style="color: white;" style="color: #f6b01d;">
            {{ 'RespuestaIncorrecta.Intentar' | translate }}
        </h2>
      </div>
      <ion-button class="boton-regresar" shape="round" size="large" (click)="navegarIngreso()">
        <ion-icon name="arrow-back"></ion-icon>
        <span style="font-size: medium;">{{ 'RespuestaIncorrecta.Regresar' | translate }}</span>
      </ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
