<ion-content [fullscreen]="true" class="color-fondo">
  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png" alt="">
    <h4 style="text-align: center; font-weight: 500; padding-right: 5%">
      Sistema de Asistencia DUOC
    </h4>
  </div>

  <ion-card class="ion-padding-vertical caja-credenciales">
    <ion-card-content style="text-align: center">
      <ion-label style="color: #f6b01d; font-weight: bolder; font-size: medium">
        Recuperar Contraseña
      </ion-label>

      <ion-card-content style="text-align: center; font-size: 15px">
        <ion-label class="titulo-caja-credenciales">
          Paso 1: Ingresa tu Correo
        </ion-label>
      </ion-card-content>

      <ion-item class="cuenta-box">
        <ion-input [(ngModel)]="usuario.correo"
          labelPlacement="floating"
          label="Ingresa tu correo"
          placeholder="Ej: jperez@duocuc.cl"
        ></ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button (click)="ingresarPaginaValidarRespuestaSecreta()" class="boton-recuperar" shape="round" style="margin-top: 15px">
      <ion-label>Recuperar Contraseña</ion-label>
    </ion-button>



    <ion-card-content
      style="text-align: center; margin-top: 10px; color: #2f41de"
    >
      <ion-label (click)="navegar('/ingreso')">Iniciar Sesion</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
