
<div *ngIf="asistencia">
  <ion-card class="caja-credenciales" style="margin: 0 auto;">
    <ion-card-header>
      <h2 style="color: white;" class="ion-text-center">Mi Clase</h2>
    </ion-card-header>
    <ion-card-content>
      <br>
      
      <p>Sede:  <strong> {{ asistencia.sede }} </strong> </p>
      <p>Sigla: <strong>{{ asistencia.idAsignatura }}</strong></p>
      <p>Sección: <strong>{{ asistencia.seccion }}</strong></p>
      <p>Asignatura: <strong>{{ asistencia.nombreAsignatura }}</strong></p>
      <p>Profesor: <strong>{{ asistencia.nombreProfesor }}</strong></p>
      <p>Día: <strong>{{ asistencia.dia }}</strong></p>
      <p>Bloque de Inicio: <strong>{{ asistencia.bloqueInicio }}</strong></p>
      <p>Bloque de termino: <strong>{{ asistencia.bloqueTermino }}</strong></p>
      <p>Inicio: <strong>{{ asistencia.horaInicio }}</strong></p>
      <p>Termino: <strong>{{ asistencia.horaFin }}</strong></p>
      
      <br>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="!asistencia">
  <ion-card class="caja-credenciales" style="margin: 0 auto;">
    <ion-card-header>
      <h2 style="color: white;" class="ion-text-center">Mi Clase</h2>
    </ion-card-header>
    <ion-card-content>
      <div class="img-escanear">
        <img src="../../../assets/img/escanearQR.png" alt="">
      </div>
      <br>
      <h3 style="color: white;" class="ion-text-center">¡Primero debes escanear un código QR!</h3>
      <br>
    </ion-card-content>
  </ion-card>
</div>