ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-input, ion-select {
  color: gray;
  text-align: right;
}


// CGV: El siguiente estilo se agregó para que se pueda mostrar siempre el botón
// del MatDatePicker, puesto que aparecía invisible producto de los colores 
// asociados al Theme escogido al instalar Angular Material
::ng-deep .mat-datepicker-toggle{
  color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 0px;
}

.font-size-12 {
  font-size: 12px;
  color: gray;
}

.font-size-16 {
  font-size: 16px;
  color: gray;
}

.font-size-18 {
  font-size: 18px;
}

.date-width {
  width: 105px;
}

.cell-align-right {
  text-align: right;
}

.cell-width-0 {
  width: 0px;
}

html, body {
  overflow-y: hidden;
}

main {
  max-height: 100vh; /* Asegura que el contenedor no exceda la altura de la ventana */
  overflow-y: auto;  /* Permite scroll si es necesario */
}

.book {
  width: 80%;
  height: 60%;
  perspective: 1000px;
  margin: 50px auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.page {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 10px solid #ccc;
  position: absolute;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
}

