<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        {{ 'Ingreso.Tema' | translate }}
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="color-fondo">
  <div class="logo-login-duoc">
    <img src="../../../assets/img/logo-fondoazul.png" alt="">
  </div>

  <ion-card class="ion-padding-vertical caja-credenciales">

    <ion-card-content>

      <ion-card-content style="text-align: center; font-size: 15px;">
        <ion-label class="titulo-caja-credenciales">
          {{ 'Ingreso.Titulo' | translate }}
        </ion-label>
        <ion-label style="color: #f6b01d; font-weight: bolder;">
          {{ 'Ingreso.AVA' | translate }}
        </ion-label>
      </ion-card-content>

      <ion-item class="cuenta-box">
        <ion-input [(ngModel)]="correo" labelPlacement="floating" 
        label="{{ 'Ingreso.Cuenta' | translate }}" 
        placeholder="{{ 'Ingreso.Placeholder.Cuenta' | translate }}">
        </ion-input>
      </ion-item>
      <ion-item class="password-box">
        <ion-input 
        [(ngModel)]="password" labelPlacement="floating" type="password" 
        label="{{ 'Ingreso.Contrasena' | translate }}" 
        placeholder="{{ 'Ingreso.Placeholder.Contrasena' | translate }}">
        </ion-input>
      </ion-item>

    </ion-card-content>

    <ion-button (click)="login()" class="boton-ingresar" shape="round" style="margin-top: 15px;">
      <ion-label>{{ 'Ingreso.BotonIngresar' | translate }}</ion-label>
    </ion-button>

    <ion-button (click)="signUp()" class="boton-ingresar" shape="round" style="margin-top: 15px;">
      <ion-label>{{ 'Ingreso.BotonRegistrarme' | translate }}</ion-label>
    </ion-button>

    <ion-card-content style="text-align: center; margin-top: 10px; color: #2f41de;">
      <ion-label (click)="navegarCorreo()">{{ 'Ingreso.OlvideContrasena' | translate }}</ion-label>
    </ion-card-content>

    <ion-card-content style="text-align: center;">
      <ion-button shape="round" (click)="navegarMiRuta()">{{ 'Ingreso.RutaDuoc' | translate }}</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>